*.swp
*.o
exp_scaling
hash-regular-dynamic
hash-regular-static
hash-sliding-dynamic
hash-sliding-static
pairwise-serial-dynamic
pairwise-serial-static
pairwise-tree-dynamic
pairwise-tree-static
mkl-serial
mkl-tree
build/
pysplib.egg-info/
pysplib/__pycache__/
pysplib/*.so